{% extends "tracker/base.html" %}

{% block content %}
<h2>Your Study Plans</h2>

{% if dashboard_data %}
    {% for item in dashboard_data %}
        <div class="card">
            <h3>{{ item.plan.subject.name }}</h3>
            <p>Daily Target: {{ item.plan.daily_target_hours }} hrs</p>
            <p>Total Studied: {{ item.total_logged }} hrs</p>
            <p>Progress: {{ item.progress }}%</p>

            <form method="post" action="{% url 'delete_study_plan' item.plan.id %}">
                {% csrf_token %}
                <button class="btn-danger">Delete Plan</button>
            </form>

        </div>
    {% endfor %}
{% else %}
    <div class="card">
        No plans yet. Add a subject first.
    </div>
{% endif %}
{% endblock %}
